.headTitle {
  color: blue;
}

.header-carousel-item {
  height: 200px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.box {
  height: 50px;
  width: 50px;
  background-color: red;
}

.cart-dropdown {
  background: #fff;
  border: 2px solid green;
  border-radius: 50%;
  position: fixed;
  bottom: 12%;
  width: 70px;
  height: 70px;
  right: 5%;
  z-index: 99;
}

.shoppingcart:hover {
  color: green;
}

.cart-dropdown .badge {
  position: absolute;
  top: 0;
  right: 0;
}

.list-group {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;

  li {
    cursor: pointer;
  }
}